services:
  db:
    image: postgres:latest
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dive
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
